html{
  background-color: rgba(0, 0, 255, .75);
}
header{
  background-color: blue;
  text-align: center;
  margin: 0 auto;
  font-size: 24pt;
}
h1{
  color: white;
  text-decoration: underline;
}
main{
  background-color: blue;
}
footer{
  background-color: purple;
}
nav{
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
a{
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
a:hover{
  background-color: green;
  color: orange;
  padding: 6px;
}
p{
  font-size: 8pt;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item{
  background-color:green;
  border: 1px solid blue;
  padding: 20px;
  text-align: center;
}
.grid-container1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
.grid-item1{
  background-color:purple;
  border: 1px solid blue;
  padding: 20px;
  text-align: center;
}
.grid-container2{
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item2{
  background-color:yellow;
  border: 1px solid blue;
  padding: 20px;
  text-align: center;
}
.Photos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
.grid-item3{
  background-color:aqua;
  border: 1px solid blue;
  padding: 20px;
  text-align: center;
}
img{
  width: 300px;
}
